In [2]:
!pip install alpha_Vantage

Requirement already satisfied: alpha_Vantage in c:\users\hp\anaconda3\lib\site-packages (3.0.0)
Requirement already satisfied: aiohttp in c:\users\hp\anaconda3\lib\site-packages (from alpha_Vantage) (3.11.10)
Requirement already satisfied: requests in c:\users\hp\anaconda3\lib\site-packages (from alpha_Vantage) (2.32.3)
Requirement already satisfied: aiohappyeyeballs>=2.3.0 in c:\users\hp\anaconda3\lib\site-packages (from aiohttp->alpha_Vantage) (2.4.4)
Requirement already satisfied: aiosignal>=1.1.2 in c:\users\hp\anaconda3\lib\site-packages (from aiohttp->alpha_Vantage) (1.2.0)
Requirement already satisfied: attrs>=17.3.0 in c:\users\hp\anaconda3\lib\site-packages (from aiohttp->alpha_Vantage) (24.3.0)
Requirement already satisfied: frozenlist>=1.1.1 in c:\users\hp\anaconda3\lib\site-packages (from aiohttp->alpha_Vantage) (1.5.0)
Requirement already satisfied: multidict<7.0,>=4.5 in c:\users\hp\anaconda3\lib\site-packages (from aiohttp->alpha_Vantage) (6.1.0)
Requirement already satisfied: propcache>=0.2.0 in c:\users\hp\anaconda3\lib\site-packages (from aiohttp->alpha_Vantage) (0.3.1)
Requirement already satisfied: yarl<2.0,>=1.17.0 in c:\users\hp\anaconda3\lib\site-packages (from aiohttp->alpha_Vantage) (1.18.0)
Requirement already satisfied: idna>=2.0 in c:\users\hp\anaconda3\lib\site-packages (from yarl<2.0,>=1.17.0->aiohttp->alpha_Vantage) (3.7)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\hp\anaconda3\lib\site-packages (from requests->alpha_Vantage) (3.3.2)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\hp\anaconda3\lib\site-packages (from requests->alpha_Vantage) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\anaconda3\lib\site-packages (from requests->alpha_Vantage) (2025.4.26)

In [3]:
api = 'QV987QRTESUMF8WK'

In [4]:
from alpha_vantage.timeseries import TimeSeries

In [5]:
from alpha_vantage.techindicators import TechIndicators

In [6]:
ts = TimeSeries(key=api,output_format = 'pandas')

In [7]:
ts_IBM = ts.get_daily(symbol='IBM',outputsize='full')

In [8]:
ti = TechIndicators(key = api,output_format ='pandas')

In [9]:
ti_IBM = ti.get_sma(symbol='IBM',interval='daily',time_period = 10,series_type = 'close')

In [10]:
import pandas as pd

# Assuming 'ts_IBM' is the data fetched and it contains the columns 'open', 'high', 'low', 'close'

# Extracting the relevant columns from ts_IBM (assuming ts_IBM[0] is a DataFrame)
df_IBM = ts_IBM[0]


df_IBM.reset_index(inplace=True)

# Display the first few rows to verify the data
print(df_IBM.head())

        date  1. open   2. high  3. low  4. close  5. volume
0 2025-08-01  251.405  251.4791  245.61    250.05  9683404.0
1 2025-07-31  259.570  259.9900  252.22    253.15  6739092.0
2 2025-07-30  261.600  262.0000  258.90    260.26  3718290.0
3 2025-07-29  264.300  265.7999  261.02    262.41  4627265.0
4 2025-07-28  260.300  264.0000  259.61    263.21  5192516.0

In [11]:
print(df_IBM.columns)
print(df_IBM.head())

Index(['date', '1. open', '2. high', '3. low', '4. close', '5. volume'], dtype='object')
        date  1. open   2. high  3. low  4. close  5. volume
0 2025-08-01  251.405  251.4791  245.61    250.05  9683404.0
1 2025-07-31  259.570  259.9900  252.22    253.15  6739092.0
2 2025-07-30  261.600  262.0000  258.90    260.26  3718290.0
3 2025-07-29  264.300  265.7999  261.02    262.41  4627265.0
4 2025-07-28  260.300  264.0000  259.61    263.21  5192516.0

In [12]:
df_IBM.rename(columns={
    '1. open': 'open',
    '2. high': 'high',
    '3. low': 'low',
    '4. close': 'close',
    '5. volume': 'volume'
}, inplace=True)

In [13]:
df_IBM['average_price'] = df_IBM[['open', 'high', 'low', 'close']].mean(axis=1)

In [14]:
# Calculate Price Range (High - Low)
df_IBM['price_range'] = df_IBM['high'] - df_IBM['low']

# Calculate Price Change (Close - Open)
df_IBM['price_change'] = df_IBM['close'] - df_IBM['open']

# Calculate Volatility (Standard Deviation of the daily price change)
df_IBM['volatility'] = df_IBM['price_change'].rolling(window=30).std()

# Displaying the first few rows with calculated metrics
print(df_IBM[['average_price', 'price_range', 'price_change', 'volatility']].head())
df_IBM['symbol'] = 'IBM'

   average_price  price_range  price_change  volatility
0     249.636025       5.8691        -1.355         NaN
1     256.232500       7.7700        -6.420         NaN
2     260.690000       3.1000        -1.340         NaN
3     263.382475       4.7799        -1.890         NaN
4     261.780000       4.3900         2.910         NaN

In [15]:
import pandas as pd
ti_IBM[0]

# Convert ti_IBM to a DataFrame
df_sma = ti_IBM[0]  # Extract the first element which contains the data
df_sma.reset_index(inplace=True)  # Reset the index to make 'date' a column

# Rename columns of df_sma for consistency (optional)
df_sma.rename(columns={'date': 'date', 'SMA': 'sma'}, inplace=True)

# Merge df_IBM with df_sma on the 'date' column
merged_df_IBM = pd.merge(df_IBM, df_sma[['date', 'sma']], on='date', how='left')

# Check the resulting merged DataFrame
print(merged_df_IBM.head())

        date     open      high     low   close     volume  average_price  \
0 2025-08-01  251.405  251.4791  245.61  250.05  9683404.0     249.636025
1 2025-07-31  259.570  259.9900  252.22  253.15  6739092.0     256.232500
2 2025-07-30  261.600  262.0000  258.90  260.26  3718290.0     260.690000
3 2025-07-29  264.300  265.7999  261.02  262.41  4627265.0     263.382475
4 2025-07-28  260.300  264.0000  259.61  263.21  5192516.0     261.780000

   price_range  price_change  volatility symbol      sma
0       5.8691        -1.355         NaN    IBM  265.799
1       7.7700        -6.420         NaN    IBM  269.381
2       3.1000        -1.340         NaN    IBM  272.266
3       4.7799        -1.890         NaN    IBM  274.432
4       4.3900         2.910         NaN    IBM  276.461

In [16]:
ts_MSFT = ts.get_daily(symbol='MSFT',outputsize='full')
ts_MSFT[0]
df_MFST = ts_MSFT[0]
df_MFST.reset_index(inplace=True)

# Display the first few rows to verify the data
print(df_MFST.head())
df_MFST.rename(columns={
    '1. open': 'open',
    '2. high': 'high',
    '3. low': 'low',
    '4. close': 'close',
    '5. volume': 'volume'
}, inplace=True)

df_MFST['average_price'] = df_MFST[['open', 'high', 'low', 'close']].mean(axis=1)
# Calculate Price Range (High - Low)
df_MFST['price_range'] = df_MFST['high'] - df_MFST['low']

# Calculate Price Change (Close - Open)
df_MFST['price_change'] = df_MFST['close'] - df_MFST['open']

# Calculate Volatility (Standard Deviation of the daily price change)
df_MFST['volatility'] = df_MFST['price_change'].rolling(window=30).std()
df_MFST['symbol'] = 'MFST'

# Displaying the first few rows with calculated metrics
print(df_MFST[['average_price', 'price_range', 'price_change', 'volatility']].head())

ti_MFST = ti.get_sma(symbol='MFST',interval='daily',time_period = 10,series_type = 'close')
import pandas as pd
ti_MFST[0]

# Convert ti_MFST to a DataFrame
df_sma = ti_MFST[0]  # Extract the first element which contains the data
df_sma.reset_index(inplace=True)  # Reset the index to make 'date' a column

# Rename columns of df_sma for consistency (optional)
df_sma.rename(columns={'date': 'date', 'SMA': 'sma'}, inplace=True)

# Merge df_IBM with df_sma on the 'date' column
merged_df_MFST = pd.merge(df_MFST, df_sma[['date', 'sma']], on='date', how='left')

# Check the resulting merged DataFrame
print(merged_df_MFST.head())

        date  1. open  2. high   3. low  4. close   5. volume
0 2025-08-01  535.000   535.80  520.860    524.11  28977628.0
1 2025-07-31  555.225   555.45  531.900    533.50  51617326.0
2 2025-07-30  515.170   515.95  509.435    513.24  26380434.0
3 2025-07-29  515.530   517.62  511.560    512.57  16469235.0
4 2025-07-28  514.080   515.00  510.120    512.50  14308027.0
   average_price  price_range  price_change  volatility
0      528.94250       14.940       -10.890         NaN
1      544.01875       23.550       -21.725         NaN
2      513.44875        6.515        -1.930         NaN
3      514.32000        6.060        -2.960         NaN
4      512.92500        4.880        -1.580         NaN
        date     open    high      low   close      volume  average_price  \
0 2025-08-01  535.000  535.80  520.860  524.11  28977628.0      528.94250
1 2025-07-31  555.225  555.45  531.900  533.50  51617326.0      544.01875
2 2025-07-30  515.170  515.95  509.435  513.24  26380434.0      513.44875
3 2025-07-29  515.530  517.62  511.560  512.57  16469235.0      514.32000
4 2025-07-28  514.080  515.00  510.120  512.50  14308027.0      512.92500

   price_range  price_change  volatility symbol  sma
0       14.940       -10.890         NaN   MFST  NaN
1       23.550       -21.725         NaN   MFST  NaN
2        6.515        -1.930         NaN   MFST  NaN
3        6.060        -2.960         NaN   MFST  NaN
4        4.880        -1.580         NaN   MFST  NaN

In [17]:
merged_df_MFST

,date,open,high,low,close,volume,average_price,price_range,price_change,volatility,symbol,sma
0,2025-08-01,535.000,535.80,520.860,524.11,28977628.0,528.94250,14.940,-10.890,NaN,MFST,NaN
1,2025-07-31,555.225,555.45,531.900,533.50,51617326.0,544.01875,23.550,-21.725,NaN,MFST,NaN
2,2025-07-30,515.170,515.95,509.435,513.24,26380434.0,513.44875,6.515,-1.930,NaN,MFST,NaN
3,2025-07-29,515.530,517.62,511.560,512.57,16469235.0,514.32000,6.060,-2.960,NaN,MFST,NaN
4,2025-07-28,514.080,515.00,510.120,512.50,14308027.0,512.92500,4.880,-1.580,NaN,MFST,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
6472,1999-11-05,91.810,92.87,90.500,91.56,35083700.0,91.68500,2.370,-0.250,2.391429,MFST,NaN
6473,1999-11-04,92.310,92.75,90.310,91.75,27119700.0,91.78000,2.440,-0.560,2.369159,MFST,NaN
6474,1999-11-03,92.940,93.50,91.500,92.00,22258500.0,92.48500,2.000,-0.940,2.298142,MFST,NaN
6475,1999-11-02,92.750,94.50,91.940,92.56,23174500.0,92.93750,2.560,-0.190,1.527350,MFST,NaN
6476,1999-11-01,93.250,94.19,92.120,92.37,26630600.0,92.98250,2.070,-0.880,1.493787,MFST,NaN

In [18]:
ts_TSLA = ts.get_daily(symbol='TSLA',outputsize='full')
ts_TSLA[0]
df_TSLA = ts_MSFT[0]
df_TSLA.reset_index(inplace=True)

# Display the first few rows to verify the data
print(df_TSLA.head())
df_TSLA.rename(columns={
    '1. open': 'open',
    '2. high': 'high',
    '3. low': 'low',
    '4. close': 'close',
    '5. volume': 'volume'
}, inplace=True)

df_TSLA['average_price'] = df_TSLA[['open', 'high', 'low', 'close']].mean(axis=1)
# Calculate Price Range (High - Low)
df_TSLA['price_range'] = df_TSLA['high'] - df_TSLA['low']

# Calculate Price Change (Close - Open)
df_TSLA['price_change'] = df_TSLA['close'] - df_TSLA['open']

# Calculate Volatility (Standard Deviation of the daily price change)
df_TSLA['volatility'] = df_TSLA['price_change'].rolling(window=30).std()
df_TSLA['symbol'] = 'TSLA'

# Displaying the first few rows with calculated metrics
print(df_TSLA[['average_price', 'price_range', 'price_change', 'volatility']].head())

ti_TSLA = ti.get_sma(symbol='TSLA',interval='daily',time_period = 10,series_type = 'close')
import pandas as pd
ti_TSLA[0]

# Convert ti_MFST to a DataFrame
df_sma = ti_TSLA[0]  # Extract the first element which contains the data
df_sma.reset_index(inplace=True)  # Reset the index to make 'date' a column

# Rename columns of df_sma for consistency (optional)
df_sma.rename(columns={'date': 'date', 'SMA': 'sma'}, inplace=True)

# Merge df_IBM with df_sma on the 'date' column
merged_df_TSLA = pd.merge(df_TSLA, df_sma[['date', 'sma']], on='date', how='left')

# Check the resulting merged DataFrame
print(merged_df_TSLA.head())

   index       date     open    high      low   close      volume  \
0      0 2025-08-01  535.000  535.80  520.860  524.11  28977628.0
1      1 2025-07-31  555.225  555.45  531.900  533.50  51617326.0
2      2 2025-07-30  515.170  515.95  509.435  513.24  26380434.0
3      3 2025-07-29  515.530  517.62  511.560  512.57  16469235.0
4      4 2025-07-28  514.080  515.00  510.120  512.50  14308027.0

   average_price  price_range  price_change  volatility symbol
0      528.94250       14.940       -10.890         NaN   MFST
1      544.01875       23.550       -21.725         NaN   MFST
2      513.44875        6.515        -1.930         NaN   MFST
3      514.32000        6.060        -2.960         NaN   MFST
4      512.92500        4.880        -1.580         NaN   MFST
   average_price  price_range  price_change  volatility
0      528.94250       14.940       -10.890         NaN
1      544.01875       23.550       -21.725         NaN
2      513.44875        6.515        -1.930         NaN
3      514.32000        6.060        -2.960         NaN
4      512.92500        4.880        -1.580         NaN
   index       date     open    high      low   close      volume  \
0      0 2025-08-01  535.000  535.80  520.860  524.11  28977628.0
1      1 2025-07-31  555.225  555.45  531.900  533.50  51617326.0
2      2 2025-07-30  515.170  515.95  509.435  513.24  26380434.0
3      3 2025-07-29  515.530  517.62  511.560  512.57  16469235.0
4      4 2025-07-28  514.080  515.00  510.120  512.50  14308027.0

   average_price  price_range  price_change  volatility symbol      sma
0      528.94250       14.940       -10.890         NaN   TSLA  319.125
1      544.01875       23.550       -21.725         NaN   TSLA  321.827
2      513.44875        6.515        -1.930         NaN   TSLA  322.941
3      514.32000        6.060        -2.960         NaN   TSLA  323.204
4      512.92500        4.880        -1.580         NaN   TSLA  322.162

In [19]:
ts_AMZN = ts.get_daily(symbol='AMZN',outputsize='full')
ts_AMZN[0]
df_AMZN = ts_AMZN[0]
df_AMZN.reset_index(inplace=True)

# Display the first few rows to verify the data
print(df_AMZN.head())
df_AMZN.rename(columns={
    '1. open': 'open',
    '2. high': 'high',
    '3. low': 'low',
    '4. close': 'close',
    '5. volume': 'volume'
}, inplace=True)

df_AMZN['average_price'] = df_AMZN[['open', 'high', 'low', 'close']].mean(axis=1)
# Calculate Price Range (High - Low)
df_AMZN['price_range'] = df_AMZN['high'] - df_AMZN['low']

# Calculate Price Change (Close - Open)
df_AMZN['price_change'] = df_AMZN['close'] - df_AMZN['open']

# Calculate Volatility (Standard Deviation of the daily price change)
df_AMZN['volatility'] = df_AMZN['price_change'].rolling(window=30).std()
df_AMZN['symbol'] = 'AMZN'

# Displaying the first few rows with calculated metrics
print(df_AMZN[['average_price', 'price_range', 'price_change', 'volatility']].head())

ti_AMZN = ti.get_sma(symbol='MFST',interval='daily',time_period = 10,series_type = 'close')
import pandas as pd
ti_AMZN[0]

# Convert ti_MFST to a DataFrame
df_sma = ti_AMZN[0]  # Extract the first element which contains the data
df_sma.reset_index(inplace=True)  # Reset the index to make 'date' a column

# Rename columns of df_sma for consistency (optional)
df_sma.rename(columns={'date': 'date', 'SMA': 'sma'}, inplace=True)

# Merge df_IBM with df_sma on the 'date' column
merged_df_AMZN = pd.merge(df_AMZN, df_sma[['date', 'sma']], on='date', how='left')

# Check the resulting merged DataFrame
print(merged_df_AMZN.head())

        date  1. open   2. high  3. low  4. close    5. volume
0 2025-08-01   217.21  220.4399  212.80    214.75  122258801.0
1 2025-07-31   235.77  236.5300  231.40    234.11  104357263.0
2 2025-07-30   231.64  231.8000  229.29    230.19   32993273.0
3 2025-07-29   234.15  234.7200  230.31    231.01   33716220.0
4 2025-07-28   233.35  234.2900  232.25    232.79   26300138.0
   average_price  price_range  price_change  volatility
0     216.299975       7.6399         -2.46         NaN
1     234.452500       5.1300         -1.66         NaN
2     230.730000       2.5100         -1.45         NaN
3     232.547500       4.4100         -3.14         NaN
4     233.170000       2.0400         -0.56         NaN
        date    open      high     low   close       volume  average_price  \
0 2025-08-01  217.21  220.4399  212.80  214.75  122258801.0     216.299975
1 2025-07-31  235.77  236.5300  231.40  234.11  104357263.0     234.452500
2 2025-07-30  231.64  231.8000  229.29  230.19   32993273.0     230.730000
3 2025-07-29  234.15  234.7200  230.31  231.01   33716220.0     232.547500
4 2025-07-28  233.35  234.2900  232.25  232.79   26300138.0     233.170000

   price_range  price_change  volatility symbol  sma
0       7.6399         -2.46         NaN   AMZN  NaN
1       5.1300         -1.66         NaN   AMZN  NaN
2       2.5100         -1.45         NaN   AMZN  NaN
3       4.4100         -3.14         NaN   AMZN  NaN
4       2.0400         -0.56         NaN   AMZN  NaN

In [20]:
ts_GOOGL = ts.get_daily(symbol='GOOGL',outputsize='full')
ts_GOOGL[0]
df_GOOGL = ts_GOOGL[0]
df_GOOGL.reset_index(inplace=True)

# Display the first few rows to verify the data
print(df_GOOGL.head())
df_GOOGL.rename(columns={
    '1. open': 'open',
    '2. high': 'high',
    '3. low': 'low',
    '4. close': 'close',
    '5. volume': 'volume'
}, inplace=True)

df_GOOGL['average_price'] = df_GOOGL[['open', 'high', 'low', 'close']].mean(axis=1)
# Calculate Price Range (High - Low)
df_GOOGL['price_range'] = df_GOOGL['high'] - df_GOOGL['low']

# Calculate Price Change (Close - Open)
df_GOOGL['price_change'] = df_GOOGL['close'] - df_GOOGL['open']

# Calculate Volatility (Standard Deviation of the daily price change)
df_GOOGL['volatility'] = df_GOOGL['price_change'].rolling(window=30).std()
df_GOOGL['symbol'] = 'GOOGL'

# Displaying the first few rows with calculated metrics
print(df_GOOGL[['average_price', 'price_range', 'price_change', 'volatility']].head())

ti_GOOGL = ti.get_sma(symbol='GOOGL',interval='daily',time_period = 10,series_type = 'close')
import pandas as pd
ti_GOOGL[0]

# Convert ti_MFST to a DataFrame
df_sma = ti_GOOGL[0]  # Extract the first element which contains the data
df_sma.reset_index(inplace=True)  # Reset the index to make 'date' a column

# Rename columns of df_sma for consistency (optional)
df_sma.rename(columns={'date': 'date', 'SMA': 'sma'}, inplace=True)

# Merge df_IBM with df_sma on the 'date' column
merged_df_GOOGL = pd.merge(df_GOOGL, df_sma[['date', 'sma']], on='date', how='left')

# Check the resulting merged DataFrame
print(merged_df_GOOGL.head())

        date  1. open   2. high   3. low  4. close   5. volume
0 2025-08-01  189.025  190.8300  187.820    189.13  34832181.0
1 2025-07-31  195.710  195.9900  191.090    191.90  51329163.0
2 2025-07-30  195.600  197.5999  194.685    196.53  32445405.0
3 2025-07-29  192.430  195.9200  192.080    195.75  41389153.0
4 2025-07-28  193.650  194.0500  190.840    192.58  38139504.0
   average_price  price_range  price_change  volatility
0     189.201250       3.0100         0.105         NaN
1     193.672500       4.9000        -3.810         NaN
2     196.103725       2.9149         0.930         NaN
3     194.045000       3.8400         3.320         NaN
4     192.780000       3.2100        -1.070         NaN
        date     open      high      low   close      volume  average_price  \
0 2025-08-01  189.025  190.8300  187.820  189.13  34832181.0     189.201250
1 2025-07-31  195.710  195.9900  191.090  191.90  51329163.0     193.672500
2 2025-07-30  195.600  197.5999  194.685  196.53  32445405.0     196.103725
3 2025-07-29  192.430  195.9200  192.080  195.75  41389153.0     194.045000
4 2025-07-28  193.650  194.0500  190.840  192.58  38139504.0     192.780000

   price_range  price_change  volatility symbol      sma
0       3.0100         0.105         NaN  GOOGL  192.291
1       4.9000        -3.810         NaN  GOOGL  191.884
2       2.9149         0.930         NaN  GOOGL  191.052
3       3.8400         3.320         NaN  GOOGL  189.696
4       3.2100        -1.070         NaN  GOOGL  188.321

In [21]:
merged_df_GOOGL

,date,open,high,low,close,volume,average_price,price_range,price_change,volatility,symbol,sma
0,2025-08-01,189.025,190.8300,187.820,189.130,34832181.0,189.201250,3.0100,0.105,NaN,GOOGL,192.291
1,2025-07-31,195.710,195.9900,191.090,191.900,51329163.0,193.672500,4.9000,-3.810,NaN,GOOGL,191.884
2,2025-07-30,195.600,197.5999,194.685,196.530,32445405.0,196.103725,2.9149,0.930,NaN,GOOGL,191.052
3,2025-07-29,192.430,195.9200,192.080,195.750,41389153.0,194.045000,3.8400,3.320,NaN,GOOGL,189.696
4,2025-07-28,193.650,194.0500,190.840,192.580,38139504.0,192.780000,3.2100,-1.070,NaN,GOOGL,188.321
...,...,...,...,...,...,...,...,...,...,...,...,...
5267,2004-08-25,104.760,108.0000,103.880,106.000,9188600.0,105.660000,4.1200,1.240,2.245699,GOOGL,NaN
5268,2004-08-24,111.240,111.6000,103.570,104.870,15247300.0,107.820000,8.0300,-6.370,2.606094,GOOGL,NaN
5269,2004-08-23,110.760,113.4800,109.050,109.400,18256100.0,110.672500,4.4300,-1.360,2.575777,GOOGL,NaN
5270,2004-08-20,101.010,109.0800,100.500,108.310,22834300.0,104.725000,8.5800,7.300,2.841371,GOOGL,NaN
5271,2004-08-19,100.010,104.0600,95.960,100.335,44659000.0,100.091250,8.1000,0.325,2.838101,GOOGL,NaN

In [22]:
Google = merged_df_GOOGL
Tesla = merged_df_TSLA
IBM = merged_df_IBM
Amazon = merged_df_AMZN
Microsoft = merged_df_MFST

In [25]:
# Define the start and end date for filtering
start_date = '2023-01-01'
end_date = '2025-01-29'

# Filter each DataFrame based on the date range
Google = Google[(Google['date'] >= start_date) & (Google['date'] <= end_date)]
Tesla= Tesla[(Tesla['date'] >= start_date) & (Tesla['date'] <= end_date)]
IBM = IBM[(IBM['date'] >= start_date) & (IBM['date'] <= end_date)]
Amazon = Amazon[(Amazon['date'] >= start_date) & (Amazon['date'] <= end_date)]
Microsoft = Microsoft[(Microsoft['date'] >= start_date) & (Microsoft['date'] <= end_date)]

# Save each DataFrame to a CSV file
Google.to_csv('Google_filtered.csv', index=False)
Tesla.to_csv('Tesla_filtered.csv', index=False)
IBM.to_csv('IBM_filtered.csv', index=False)
Amazon.to_csv('Amazon_filtered.csv', index=False)
Microsoft.to_csv('Microsoft_filtered.csv', index=False)

print("CSV files have been created.")

CSV files have been created.